<script>
	import { onMount } from 'svelte';
	import { base } from '$app/paths';
	import { page } from '$app/stores';
    import { Container, Row, Col } from '@sveltestrap/sveltestrap';
</script>

<Container>

<article class="article">

<h3 id="motivation">
Forwarded calls
</h3>

<p>May 7, 2026 by <a href="https://p4w5.eu/blog">paul</a></p>

While in ARM, most functions I saw start with a push and stack increase.
The push as far as I understand to save the registers used in this function to it's before-call state.
And the stack increase to make room for local variables declared inside the function.
This look usually something like this:

```asm
Addr	INSTR bytes     mnemonic	OP
0x445:	b0b5           	push		{r4, r5, r7, lr}
0x447:	264b           	ldr		r3, [pc, #0x98]
0x449:	84b0           	sub		sp, #0x10
```

Some very different function entry, no `push` or `sub sp` looks like this:

```asm
Addr	INSTR bytes     mnemonic	OP
0xbbf7:	4368           	ldr		r3, [r0, #4]
0xbbf9:	da71           	strb		r2, [r3, #7]
0xbbfb:	122            	movs		r2, #1
0xbbfd:	4368           	ldr		r3, [r0, #4]
0xbbff:	1960           	str		r1, [r3]
0xbc01:	4368           	ldr		r3, [r0, #4]
0xbc03:	5a71           	strb		r2, [r3, #5]
0xbc05:	f5f74cbe       	b.w		#0x18a1
```

Registers r0-r3 pass function call arguments afaik.
Then this forwards a call to another function.

How is this called? Don't know yet, TODO investigate :)

But it is a function call by an ordinary `branch` instruction,
which I thought was just used for if and only `bl` and `blx`
for function calling.

So I added a new check to detect this kind of function call.
I saw it only with a wide branch instruction `b.w`, that calls a address outside of the function body to another function:

```go
func IsForwardedCall(instr symbolextraction.DisAsm, f *symbolextraction.FunctionSymbol, s *symbolextraction.SElfReport) (bool, uint64) {
	var calladdr uint64 = 0
	noKnownForwardedInstruction := instr.Instruction != "b.w"
	foundNumber, err := fmt.Sscanf(instr.Opstr, "#0x%X", &calladdr)
	if err != nil || foundNumber != 1 {
		foundNumber, err = fmt.Sscanf(instr.Opstr, "0x%X", &calladdr)
	}
	if err != nil || foundNumber != 1 || noKnownForwardedInstruction {
		return false, 0
	}
	startAddr := f.Address
	endAddr := f.Address + f.FlashSize
	outsiteCallrange := (calladdr < startAddr) || (calladdr > endAddr)
	if !outsiteCallrange {
		return false, 0
	}
	_, ok := s.Addr2FnMap[calladdr]
	if !ok {
		return false, 0
	} else {
		return true, calladdr
	}
}
```

</article>

<article class="article">

<h3 id="motivation">
Motivation - No free RAM vs stack overflows and manual measurment
</h3>

<p>January 8, 2026 by <a href="https://p4w5.eu/blog">paul</a></p>

Over the years and project I often found myself on some microcontroller with limited RAM, thst was near full. The stack's of the real-time operating system tasks often are among the bigggest chunks filling the RAM. In this kind of situation the question then often arises:

`Does this network task really need 4kB of stack?`

`Can we get away on our use-case with two or even 1kB?`

So the teadious way of assuring so is to measure stack consumption in run-time. Trying to trigger the condition that gets the firmware in the worst case code path for stack consumption is not always easy though. If there is more then one MCU the firmware is build for this work has to be repeated for every processor. And setting the minimum stack size means you must not forget to reevaluate, otherwise some new changes increase the stack size and with the previous limit you controller could crash with a stack overflow.

So there is a problem: to know an ideal stack size

* for every task you run (N)
* on every MCU you target (M)
* for every firmware deployment (O)
    1. N x M x O can get very big for real product series, manual checks - impossible, potential that a stack overflow gets rolled-out - high...

If not the ideal stack size, at least a monitoring that to confirm the size configured is still safe for all cases. If you have an elaborate CI and hardware-in-the-loop setup you maybe can automate the on-device runtime measurement. But some time ago I found some tools which can help you to get even faster feedback as a developer at build time.

[puncover](https://github.com/HBehrens/puncover/) analyses your build artifacts for flash, RAM and stack size. It does so by consulting your ELF file with some binutils like nm, objdump, c++filt and parsing [.su files](https://www.adacore.com/papers/compile-time-stack-requirements-analysis-with-gcc) emited by GCC. Then it retreives static function calls by searching every functions disassembly for instructions, that target another functions address. The user get's a browsable website as a result that includes a overview by folder of all variables and functions and their flash and static RAM size in a given directory or single function or variable.


<Row>
<Col md="8" sm="12">

That's pretty useful already, and gives much more intuition to me than grep-ing around map files for flash sizes and we get some call tree analysis, very neat!

Well, it is useful to me as a single dev to manually analyse one build.

So there starts my wishlist and some more ideas are als there:

1. I want to share findings from puncover with collegues.
    1. -> Can we make the browsing experience run in the browser?
    1. -> Can we make it sharable via a link?
    1. -> Or even run the analysis of the firmware?
1. The analysis of my firmware takes a loooong time.
    1. -> Can we speed things up?
1. I want automate that into my CI pipeline
    1. -> Is there a file format so only view the results and not to run the analysis?
    1. -> Can we get warnings and errors passing certain stack sizes in the pipelin?
1. Worst-case stack usage is quite a claim, that suggest confidence.
    1. -> Are the results even correct? Is there any test confirming the analysis?
1. My firmware uses dynamic callback functions a lot.
    1. -> Dynamic calls stay undetected, right? Can I add them, I know the possible callbacks :)
1. I have many builds. Any way to compare how new features impact memory and see some trends??
    1. -> Can we get a diff view of two builds?
    1. -> What about trends over a series of build?
1. I use an RTOS.
    1. -> Can puncover consider that?
1. What about execution times?
    1. -> Can we get the WCET of a thread and do some rough CPU time budgeting?

    <p>And some other ideas.</p>

1. I want...
    1. ..to browse not only one but many folder levels at once like the [mbed-os-linker-report](https://armmbed.github.io/mbed-os-linker-report/)
    1. ...a good page view for variables as well.
    1. ...get a view like a map file of everything on my flash memory.

</Col>
<Col md="4" sm="12">

<img src="{base}/img/puncoverWCSS.png" alt="Worst case stack estimation in puncover" width="100%">

<hr>

<small>
    View of a function puncover offers you ootb with "Worst"(?) case stack estimation.
</small>

</Col>
</Row>

So that is quite a whishlist. `pexplorer` is my intend of realizing some points from my whishes. Also the opportunity I saw for myself to learn svelte as another framework I know to react and golang to get a faster alternative to python with cool tooling around it.

Next articles will try to answer these questions I had from my whishlist and discuss possible solutions. If you are interested keep om reading :)

</article>

</Container>

<style type="text/css">
    ol ol { list-style-type: upper-alpha; }
    ol p { margin: 10px; }
</style>
